<div  class="DashboardHeader"><span id="ToggelSpan" class="btn" data-toggle="collapse" data-target="#demo"><b>Select Charts</b></span></div>

<div id="demo" class="collapse">
    <div class="row">
        <div class="checkbox col-sm-1" style="margin-left:30px;">
            <label><input type="checkbox" value="" [(ngModel)]="showColumnChart">Column Chart</label>
        </div>
        <div class="checkbox col-sm-1">
            <label><input type="checkbox" value="" [(ngModel)]="showPieChart">Pie Chart</label>
        </div>
        <div class="checkbox col-sm-1">
            <label><input type="checkbox" value="" [(ngModel)]="showLineChart">Line chart</label>
        </div>  
        <div class="checkbox col-sm-1">
            <label><input type="checkbox" value="" [(ngModel)]="showCombinationalChart">Mixed chart</label>
        </div>   
    </div>  
</div>
<div class="row">
    <app-column-chart *ngIf="showColumnChart" class="col-sm-6" style="margin-bottom:30px"></app-column-chart>
    <app-pie-chart *ngIf="showPieChart" class="col-sm-6" style="margin-bottom:30px"></app-pie-chart>
    <app-line-chart *ngIf="showLineChart" class="col-sm-6" ></app-line-chart>
    <app-combinational-chart *ngIf="showCombinationalChart" class="col-sm-6"></app-combinational-chart>
</div>
